<div *ngIf="todos">
  <ion-card *ngFor="let todo of todos">
    <amplify-s3-image [attr.img-key]="todo.imagekey" [attr.level]="todo.level">
    </amplify-s3-image>
    <ion-card-header>
      <ion-card-title>{{todo.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{todo.description}}</ion-card-content>
  </ion-card>
  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="loadNextTodos($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>